.ui-page { 
	background: #FFF;
}

#logo-front {
	width: 90%;
	max-width: 640px;
	margin: 0 auto;
}

.ui-bar-f {
	background: #c95385;
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
	padding: 10px 0px;
}

.ui-body-f {
	border: 1px solid #2a2a2a;
	background: #FFF;
	color: #000;
	text-shadow: 0 1px 0 #000;
	font-weight: normal;
}

#input-front {
	margin-top: 40px;
	height: 40px;
}

.ui-corner-all {
    border-radius: 0em 0em 0em 0em;
}